<div class="row">
  <div class="col-md-4 col-sm-6">
    <ul class="list-group">
      <li
        *ngFor="let dep of departments"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{dep.name}}
        <button class="btn btn-outline-danger" (click)="deleteDepartment(dep.id)">Delete</button>
      </li>
    </ul>
  </div>
  <div class="col-md-8 col-sm-6">
    <app-add-department (newDepartment)="createDepartment($event)"></app-add-department>
  </div>
</div>
